/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d1d1d1; /* Light gray background */
  padding: 10px 20px;
  height: 30px;
  font-weight: bold;
}

/* Logo styling */
.logo {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

/* Navigation links */
.nav-links {
  display: flex;
  gap: 15px; /* Space between links */
  font-weight: bold;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.nav-links a:hover {
  text-decoration: underline;
}
/* Landing Page Description*/
.content1 {
  margin-top: 120px;
  font-family: "lexend";
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  /* margin-left: 400px; */
}
.p2 {
  margin-top: -40px;
  /* margin-left: -20px; */
}
/*Landing Page button*/

/*Navbar Login & SignUp*/
.navbar-nav {
  margin-left: 1250px;
  height: 50px;
}
/*Navbar */
.navbar {
  height: 50px;
  background-color: rgb(199, 199, 199);
}

/* sign Up Page Styling */
